<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guise AI Assignment</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/all_image.css') }}">  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/main.css') }}">  
</head>
<body>

<header>
  <h2>Guise AI Assignment</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="{{ url_for('file_upload_form_v2') }}">Home</a></li>
      <li><a href="{{ url_for('add_image') }}">Add Image</a></li>
      <li><a href="#">List Uploaded Image</a></li>
      <li><a href="{{ url_for('get_image') }}">Search Image</a></li>
      <li><a href="{{ url_for('delete_image')}}">Delete Image</a></li>
    </ul>
  </nav>
  
  <article>
      <table style="width:100%">
        <tr>
          <th>Image Name</th>
          <th>Upload Time</th>
        </tr>
        {%for upload_time, file_name in zipped_pairs%} 
        <tr>
          <td>{{file_name}}</td>
          <td>{{upload_time}}</td>
        </tr>
        {%endfor%}
      </table>

</article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
